extends layout.pug

block content
  div#preloading
    div.content
      h1 Loading...
      img(src='/img/loading.gif')
  div#convo-intro
    div.wrapper
      div.intro-content
        img.bubble.transparent-bubble(src="/img/transparent-bubble.png")
        h3.intro-text.lt-blue "Sal" looks and listens to analyze how you're feeling.<br>Say <span class="white">hello</span> to talk to Sal.
      div.in-progress(style='visibility: hidden;')
        img(src='/img/loading.gif')
  div#convo-main
    div.wrapper
      section#page-status-wrap
        pre
          p#video-status Video Status
          p#audio-status Audio Status
      section#video-analysis-wrap.analysis-wrap
        img.section-title(src='/img/facial-analysis.png')
        div#video-emotions-chart-wrap.chart-wrap
      section#user-text-wrap
        img.bubble(src='/img/filled-solid-bubble.png')
        h4#user-text
      section#camera-wrap
        //- h4 Camera
        div#camera-root
      section#bot-text-wrap
        h4#bot-text
      section#text-analysis-wrap.analysis-wrap
        img.section-title(src='/img/audio-analysis.png')
        div#text-sentiment-chart-wrap.chart-wrap
      section.in-progress(style='visibility: hidden;')
        img(src='/img/loading.gif')
  div#video-wrap
    video
      source(src='https://d32vnycoqqt3qz.cloudfront.net/loops/sal-loop-simple.mp4', type='video/mp4', loop)
      source(src='https://d32vnycoqqt3qz.cloudfront.net/loops/sal-loop-simple.webm', type='video/webm', loop)

block footer_scripts
  script(src='/js/lib/jquery.min.js')
  script(src='https://download.affectiva.com/js/3.2/affdex.js')
  script(src='/js/lib/p5.min.js')
  script(src='/js/lib/p5.dom.min.js')
  script(src='/js/main.bundle.js')
