body#index {
  &,
  main,
  #wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  section {
    padding: 2.5%;
  }

  #wrapper {
    padding: 2.5%;
    display: grid;

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 3fr 2fr;
    grid-gap: 1%;

    grid-template-areas:
      'page-status camera user-text'
      'video-analysis camera audio-analysis'
      '. bot-text .';
  }

  #page-status-wrap {
    // background-color: pink;
    grid-area: page-status;
    // display: none;
  }

  #video-analysis-wrap {
    // background-color: palevioletred;
    grid-area: video-analysis;
    display: none;
  }

  #camera-wrap {
    // display: none;
    // background-color: yellow;
    grid-area: camera;
  }

  #camera-root {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    width: 100%;
    height: 100%;
    align-items: center;

    grid-template-areas:
      '. . .'
      '. video .'
      '. . .';
  }

  #face_video {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    grid-area: video;
  }

  #bot-text-wrap {
    // background-color: papayawhip;
    grid-area: bot-text;
    display: none;
  }

  #user-text-wrap {
    // background-color: lightblue;
    grid-area: user-text;
    display: none;
  }

  #bot-text,
  #user-text {
    text-align: center;
  }

  #audio-analysis-wrap {
    // background-color: violet;
    grid-area: audio-analysis;
    display: none;
  }
}
