$lightBlue: #93d5d9;
$white: #ffffff;
$darkGray: #333333;
$midGray: #808184;
$lightGray: #cccccc;

.lt-blue {
  color: $lightBlue;
}

.white {
  color: $white;
}

.dk-gray {
  color: $darkGray;
}

.lt-gray {
  color: $lightGray;
}

.mid-gray {
  color: $midGray;
}
